#VERSION_NUMBER=7.1.4.0-25
[ambaridc-7.1.4.0]
#json.url = http://public-repo-1.hortonworks.com/HDP/hdp_urlinfo.json
name=ambari Version - ambari-7.1.4.0
baseurl=https://{{ username }}:{{ password }}@archive.cloudera.com/p/ambaridc/centos7/7.x/updates/7.1.4.0
gpgcheck=1
gpgkey=https://{{ username }}:{{ password }}@archive.cloudera.com/p/ambaridc/centos7/7.x/updates/7.1.4.0/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1
