#VERSION_NUMBER=7.1.6.0-26
[ambari-7.1.6.0-26]
#json.url = http://s3.amazonaws.com/dev.hortonworks.com/HDP/hdpdev_urlinfo.json
name=ambari Version - ambari-7.1.6.0-26
baseurl=http://s3.amazonaws.com/dev.hortonworks.com/ambari/centos7/7.x/BUILDS/7.1.6.0-26
gpgcheck=1
gpgkey=http://s3.amazonaws.com/dev.hortonworks.com/ambari/centos7/7.x/BUILDS/7.1.6.0-26/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1
